 @font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oowl5h');
  src:  url('fonts/icomoon.eot?oowl5h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oowl5h') format('truetype'),
    url('fonts/icomoon.woff?oowl5h') format('woff'),
    url('fonts/icomoon.svg?oowl5h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('FontAwesome.eot');
  src: url('FontAwesome.eot?#iefix') format('embedded-opentype'),
      url('FontAwesome.woff2') format('woff2'),
      url('FontAwesome.woff') format('woff'),
      url('FontAwesome.ttf') format('truetype'),
      url('FontAwesome.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  box-sizing: border-box;
  overflow-x:  hidden;
  margin: auto;
}


h1, h2, h3 {
  font-family: 'FontAwesome';
}

h3 {
  text-transform:uppercase;
}

.container {
    background: url("bg-5.jpg");
    background-size: cover;
    background-color:#797979;
    background-blend-mode: multiply;
    height: 80vh;
}

.header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header .logo {
    color: white;
    padding-left: 60px;
    font-weight: bold;
    font-size: 1.5em;
}

.header .nav a {
    color: white;
    padding-right: 25px; 
    text-decoration:none;
}

.header .nav a:last-of-type {
    padding-right: 95px;   
}

.nav a:hover {
    color: #01bc95;
}
    
.container .text  {
    margin-top: 210px;
    text-align: center;
    color: white;
}    
    
.text h1 {
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 45px;
}

.text p {
    margin: 0px 350px 30px 350px;
    font-size: 20px;
}

.btn .button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
    padding: 15px 25px;
    background:  #01bc95;
    color: white; 
    font-weight: bold; 
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
}

.services {
    display: grid;
    grid-template-rows: repeat(3) 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 200px;
    grid-row-gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.services h2 {
    margin-top: 70px;
    font-size: 30px;
    color: #535353;
}

.services h3 {
    color: #535353;
}

.services p {
    color: #737373;
}

.best-services {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}

.creative-ideas {
    grid-row: 2;
    grid-column: 1;
    text-align:center;
}

.creative-ideas1 {
    grid-row: 3;
    grid-column: 1;
    text-align:center;
}

.rapid-solution {
    grid-row: 2;
    grid-column: 2;
    text-align:center;
}

.rapid-solution1 {
    grid-row: 3;
    grid-column: 2;
    text-align:center;
}
 
.magic-touch {
    grid-row: 2;
    grid-column: 3;
    text-align:center;
}

.magic-touch1 {
    grid-row: 3;
    grid-column: 3;
    text-align:center;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
  
.icon-uni65:before {
    content: "\65";
    color: #ff8b8b;
}

.icon-uni66:before {
    content: "\66";
    color:#76afea 
}

.icon-uni6A:before {
    content: "\6a";
    color:#f5d282; 
}

.icon-uni69:before {
    content: "\69";
    color: #5b2da7;
}

.icon-uni6B:before {
    content: "\6b";
    color:#ff3f74; 
}

.icon-uni62:before {
    content: "\62";
    color: #77dfa2;
}

.icon-uni62, .icon-uni65, .icon-uni66, .icon-uni69, .icon-uni6A, .icon-uni6B {
    font-size: 50px;
}

.testimonials {
    background-image: url("bg-4-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#332d29;
    background-blend-mode: multiply;
    box-sizing: border-box;
    height: 50vh;
}

.img {
    padding: 100px 150px 50px 150px;
    margin:0 auto;
    text-align: center;
}

.switch {
   /* position: absolute;*/
    width: 100%;
    margin: auto;
    text-align: center;
    height: 250px;
}

.switch .testimonials-switch {
    position: absolute;
    padding: 20px 120px;
}

#switch-1:checked ~ .testimonials-switch,
#switch-2:checked ~ .testimonials-switch,
#switch-3:checked ~ .testimonials-switch {
    opacity: 1;
    transition-delay: .2s;
}

.content {
    opacity: 0;
    transition: .6s; 
}

#switch-1:checked ~ .testimonials-switch .text-1,
#switch-2:checked ~ .testimonials-switch .text-2,
#switch-3:checked ~ .testimonials-switch .text-3 {
    opacity: 1;
    transition-delay: .3s;
}

#switch-1:checked ~ .sliders .slider-1:before,
#switch-2:checked ~ .sliders .slider-2:before,
#switch-3:checked ~ .sliders .slider-3:before {
    transform: scaleX(1);
    width: 100%;
}

.content .text-test {
    font-size: 19px;
    color: #cbcac9;
    text-align: center;
}

.sliders {
    position: absolute;
    bottom: 25px;
    left: 50%;
}

#switch-1:checked ~ .sliders .switch-1:before,
#switch-2:checked ~ .sliders .switch-2:before,
#switch-3:checked ~ .sliders .switch-3:before {
    transform: scaleX(1);
    width: 100%;
}

.content .text-test  span {
    display: block;
    color: #01bc95;
    padding-top: 10px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    background-color: #869691;
    content: '';
    display: inline-block;
    visibility: visible;
  }

input[type='radio']:checked:after {
    position: relative;
    background-color: #545851;
    content: '';
    display: inline-block;
    visibility: visible; 
}

.form h2 {
    text-align: center;
    margin-top: 40px;
    padding: 0;
    font-size: 25px;
    margin-bottom: 20px;
}
    
.form-message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 10px 0; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 50px;
}

.name, .email {
    flex-basis: auto;
    width: 45%;
}

.name input {
    width: 95%;
    height: 30%;
    border-radius: 2px;
    border-color: #cccccc;
    color:#585858;
}

.name label {
    display: block;
    padding: 0;
    margin: 10px 0px;
    color: #535353; 
    font-weight: bold;
} 
.email input {
    margin-left: 30px;
    width: 95%;
    height: 30%;
    border-radius: 2px;
    border-color: #cccccc; 
    color:#585858;
 }

.email  label {
    display: block;
    padding: 0;
    margin: 10px 30px;
    color: #535353; 
    font-weight: bold;
}

.message label {
    display: block;
    padding: 0;
    margin: 10px 0 0 50px;
    color: #535353; 
    font-weight: bold;
 }
            
.message textarea {
    width: 90%;
    border-radius: 2px;
    border-color: #cccccc;
    margin: 10px 50px;
    color:#585858; 
}

.text-form  {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    color:#737373; 
}

.button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
    padding: 15px 25px;
    background:  #01bc95;
    color: white; 
    font-weight: bold; 
    font-size: 20px;
    border-radius: 7px;
}

.form h2 {
    font-weight: bold;
    color: #535353; 
}

.text-form {
    margin: 5px auto;
}    

.contact {
    background: #f7f7f7;
    border-style: solid;
    border-color: #e4e4e4;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-column-gap: 20px;
}

.contact h3 {
    color: #535353;
}

.social-network {
    grid-row: 1;
    grid-column: 1;
    text-align:center;
    color: #737373;
}

.network {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;  
}

.social-network a {
    position: relative;
    border: 5px solid #e7ebef;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
}

.social-network a:hover {
    background-color: #e0e0e0;
}

.social-network a>img {
    margin-top: 10px;
}  

.address {
    grid-row: 1;
    grid-column: 2;
    text-align:center;
    color: #737373;
}
  
.address p {
    margin: 0;
}

.address p:nth-of-type(2), p:nth-of-type(5) {
    margin-bottom: 15px;
}

.support {
    grid-row: 1;
    grid-column: 3;
    text-align:center;
    padding-left: 140px;
    padding-right: 40px;
    color: #737373;
}

.btn a {
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 10px;
    background:  #01bc95;
    color: white; 
    font-weight: bold; 
    font-size: 10px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    height: 80px;
    background: #000000;
    color:#737373; ;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
  
@media screen and (max-width: 600px) {
    .container {
        height: auto;
    }
    .nav {
        display:grid;
        margin: 0 auto;
    }
    .container .text {
        margin: 10px auto;
    }
    .text p {
        margin: 0 auto;
        padding: 10px;
    }
    
    .services {
        display: inline-block;
        margin: 0 auto;
        padding: 0 20px;
    }

    .services h2 {
        margin: 10px auto;
    }

    .testimonials {
        display: block;
        height: auto;
    }
    .img {
        padding: 20px;
    }
    .content .text-test {
        font-size: 15px;
    }
    .switch .testimonials-switch {
        padding: 20px;
    }
    .form h2 {
        margin: 10px auto;
    }

    .row {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        }
    .email label, .email input {
        margin: 5px auto;
    }
    .message textarea {
        width: 50%;
        resize: vertical;
        border-style: inset;
    }
    .contact {
        display: block;
        margin: 0 auto;
    }
    .network, .address, .support {
        margin: 5px auto;
    }
    .support {
        padding: 25px;
    }
    
}  
  